---
http_interactions:
- request:
    method: get
    uri: https://roseflow-test-1601616.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/fetch?ids=1&namespace=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"vectors":{"1":{"id":"1","values":[1,2,3]}},"namespace":""}'
  recorded_at: Wed, 26 Apr 2023 19:22:39 GMT
recorded_with: VCR 6.1.0
