---
http_interactions:
- request:
    method: post
    uri: https://roseflow-test-1601616.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"1","values":[1.0,2.0,3.0]},{"id":"2","values":[0.0,1.0,-1.0]},{"id":"3","values":[1.0,-1.0,0.0]}],"namespace":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":3}'
  recorded_at: Mon, 01 May 2023 12:24:59 GMT
- request:
    method: post
    uri: https://roseflow-test-1601616.svc.<PINECONE_ENVIRONMENT>.pinecone.io/query
    body:
      encoding: UTF-8
      string: '{"namespace":"","includeValues":false,"includeMetadata":true,"topK":10,"vector":[0.5,-0.5,0.0]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"results":[],"matches":[{"id":"3","score":1.00000012,"values":[]},{"id":"xyz","score":0.13130644,"values":[]},{"id":"bar","score":-0.0805823,"values":[]},{"id":"5","score":-0.181874081,"values":[]},{"id":"foo","score":-0.188982248,"values":[]},{"id":"1","score":-0.188982248,"values":[]},{"id":"2","score":-0.50000006,"values":[]}],"namespace":""}'
  recorded_at: Mon, 01 May 2023 12:25:00 GMT
recorded_with: VCR 6.1.0
