---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"dimensions":1024,"name":"roseflow-test"}'
    headers:
      Api-Key:
      - "<PINECONE_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Apr 2023 18:53:12 GMT
recorded_with: VCR 6.1.0
