---
http_interactions:
- request:
    method: get
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases/roseflow-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"database":{"name":"roseflow-test","metric":"cosine","dimension":3,"replicas":1,"shards":1,"pods":1,"pod_type":"s1.x1"},"status":{"waiting":[],"crashed":[],"host":"roseflow-test-1601616.svc.<PINECONE_ENVIRONMENT>.pinecone.io","port":433,"state":"Ready","ready":true}}

        '
  recorded_at: Mon, 01 May 2023 09:27:03 GMT
recorded_with: VCR 6.1.0
