---
http_interactions:
- request:
    method: get
    uri: https://controller.us-east4-gcp.pinecone.io/databases/roseflow-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 2e9044fe-300a-4fcd-8c79-9f62a5d369d4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"database":{"name":"roseflow-test","metric":"cosine","dimension":3,"replicas":1,"shards":1,"pods":1,"pod_type":"s1.x1"},"status":{"waiting":[],"crashed":[],"host":"roseflow-test-1601616.svc.us-east4-gcp.pinecone.io","port":433,"state":"Ready","ready":true}}

        '
  recorded_at: Mon, 01 May 2023 12:17:18 GMT
- request:
    method: post
    uri: https://roseflow-test-1601616.svc.us-east4-gcp.pinecone.io/query
    body:
      encoding: UTF-8
      string: '{"namespace":"","includeValues":false,"includeMetadata":true,"topK":10,"vector":[100.0,101.0,102.0]}'
    headers:
      Api-Key:
      - 2e9044fe-300a-4fcd-8c79-9f62a5d369d4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"results":[],"matches":[{"id":"bar","score":0.988198161,"values":[]},{"id":"xyz","score":0.962746859,"values":[]},{"id":"5","score":0.934407413,"values":[]},{"id":"1","score":0.928845286,"values":[]},{"id":"foo","score":0.928845286,"values":[]},{"id":"2","score":-0.00404193,"values":[]},{"id":"3","score":-0.00404193,"values":[]}],"namespace":""}'
  recorded_at: Mon, 01 May 2023 12:17:19 GMT
recorded_with: VCR 6.1.0
