---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"name":"new-collection","source":"roseflow-test"}'
    headers:
      Api-Key:
      - "<PINECONE_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Apr 2023 19:11:22 GMT
recorded_with: VCR 6.1.0
