---
http_interactions:
- request:
    method: get
    uri: https://controller.us-east4-gcp.pinecone.io/databases/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 2e9044fe-300a-4fcd-8c79-9f62a5d369d4
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: '404: Not Found'
  recorded_at: Mon, 01 May 2023 09:31:41 GMT
- request:
    method: post
    uri: https://controller.us-east4-gcp.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"xyz","values":[1.0,2.0,3.0]}],"namespace":null}'
    headers:
      Api-Key:
      - 2e9044fe-300a-4fcd-8c79-9f62a5d369d4
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 May 2023 09:48:41 GMT
- request:
    method: get
    uri: https://controller.us-east4-gcp.pinecone.io/databases/roseflow-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 2e9044fe-300a-4fcd-8c79-9f62a5d369d4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"database":{"name":"roseflow-test","metric":"cosine","dimension":3,"replicas":1,"shards":1,"pods":1,"pod_type":"s1.x1"},"status":{"waiting":[],"crashed":[],"host":"roseflow-test-1601616.svc.us-east4-gcp.pinecone.io","port":433,"state":"Ready","ready":true}}

        '
  recorded_at: Mon, 01 May 2023 09:56:40 GMT
- request:
    method: post
    uri: https://roseflow-test-1601616.svc.us-east4-gcp.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"xyz","values":[1.0,2.0,3.0]}],"namespace":null}'
    headers:
      Api-Key:
      - 2e9044fe-300a-4fcd-8c79-9f62a5d369d4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Mon, 01 May 2023 09:56:41 GMT
recorded_with: VCR 6.1.0
