---
http_interactions:
- request:
    method: get
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections/example-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"example-collection","status":"Initializing"}

        '
  recorded_at: Wed, 26 Apr 2023 19:10:16 GMT
recorded_with: VCR 6.1.0
