---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"dimensions":1024,"name":"roseflow-test"}'
    headers:
      Api-Key:
      - "<PINECONE_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: The index exceeds the project quota of 1 pods by 1 pods. Upgrade your
        account or change the project settings to increase the quota.
  recorded_at: Wed, 26 Apr 2023 18:53:15 GMT
recorded_with: VCR 6.1.0
