---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"dimensions":1024,"name":"roseflow-test"}'
    headers:
      Api-Key:
      - "<PINECONE_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: index roseflow-test already exists
  recorded_at: Wed, 26 Apr 2023 19:01:11 GMT
recorded_with: VCR 6.1.0
