---
http_interactions:
- request:
    method: post
    uri: https://roseflow-test-1601616.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"foo","values":[1.0,2.0,3.0,4.0]},{"id":"bar","values":[4.0,5.0,6.0,7.0]}],"namespace":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":3,"message":"Vector dimension 4 does not match the dimension
        of the index 3","details":[]}'
  recorded_at: Wed, 26 Apr 2023 19:21:50 GMT
recorded_with: VCR 6.1.0
