---
http_interactions:
- request:
    method: post
    uri: https://roseflow-test-1601616.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[],"namespace":null}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":3,"message":"No vectors provided","details":[]}'
  recorded_at: Wed, 26 Apr 2023 19:21:50 GMT
recorded_with: VCR 6.1.0
